/* CSS HEX */
:root{
    --champagne-pink:#F8E0CFff ;
    --apricot: #F7C7AAff ;
    --melon: #DAABA3ff ;
    --tea-rose-red: #D9B3ADff ;
    --pale-dogwood: #DBC0B1ff ;
    --ice-white: rgb(251, 241, 233);

    /* font-color-pallete */
    --red-brown: #6B240C;
    --hot-brown: #994D1C;
    --light-orange: #E48F45;
    --beige:#F5CCA0;
}


hr{
    color: var(--hot-brown);
}

.color-hot-brown{
    color: #994D1C;
}


.button{
    padding: 5px;
    color: var(--hot-brown);
    text-decoration: none;
}

.button:hover {
    color: var(--red-brown);
  }


.button_download{
    padding: 10px;
    color: var(--champagne-pink);
    background-color: var(--red-brown);
    border-radius: 10px;
    border: none;
    text-decoration: none; 
   
}

.button_download:hover {
    background-color: var(--hot-brown);
    color: var(--champagne-pink);
    border-color: var(--red-brown);
    text-decoration: none; 
}

.button_download:active {
    background-color: var(--red-brown);
    transform: translateY(4px);
}

.active{
    color: var(--red-brown);
}

.body-font{
    color: var(--red-brown);
}

.ft-body-size{
    font-size: 25px;
}

.gif-intro{
    max-width: 40vw;;
    max-height: 40vh;;
}

li{
    margin-left: 15px;
}

.bg-white{
    background-color: white;
    width: 100%;
    /* border-radius: 30px; */
}

.form-switch .form-check-input {
  color: var(--hot-brown);
}
.form-switch .form-check-input:focus {
    border-color: var(--red-brown);
    outline: 0;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(0,0,0,0.25)'/></svg>");
}
.form-switch .form-check-input:checked {
    background-color: var(--hot-brown);
    border-color:var(--red-brown);
    border: none;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(255,255,255,1.0)'/></svg>");
}

.center{
    padding-left: 25%;
}