{%  extends "base.html" %}

{% block content %}
<div class="row">

  <div class="col-8 content ">
      <h1 class="montserrat-font body-font  px-3"> Olá, me chamo Ana </h1>
      <!-- <h3 class="montserrat-font body-font px-3"> Meu nome é Ana</h3> -->
      <p class="montserrat-font body-font ft-body-size mt-4 px-3"> Sou uma profissional de T.I com mais de 7 anos de experiência transitando entre áreas como desenvolvimento web, monitoramento de execução de testes, suporte a resolução de vulnerabilidades e suporte a middlewares </p>
  </div>
  <div class="col content">
    <img src="{{url_for('static', filename='img/new_blush.gif')}}" class="img-fluid gif-intro"   alt="">
  </div>
</div>

{% endblock %}
   
    
  
    
