{%  extends "base.html" %}

{% block content %}
<div id="portuguese_content">
    <h1 class="montserrat-font body-font px-3"> Tecnologias com que trabalhei </h1>
    <div class="row">
        <div class="col body-font ">
            <ul class="mt-2">
                <h6 class="fw-semibold"> Desenvolvimento web</h6>
                <li class="mt-2">Python</li>
                <li>Javascript</li>
                <li>Bootstrap</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>Flask</li>
                <li>SQLAlchemy</li>
                <li>PostgreSQL</li>
                <li>Insomnia</li>
                <li>Postman</li>
                <li>Selenium</li>
            </ul>
        </div>
        <div class="col body-font ">
            <ul class="mt-2">
                <h6 class="fw-semibold"> Monitoramento de execução de testes </h6>
                <li class="mt-2">Tivoli Scheduler</li>
                <li>DB2</li>
                <li>SQL</li>
                <li>Linux</li>
                <li>VI/VIM</li>
                <li>Python</li>
            </ul>
        </div>
        <div class="col body-font ">
            <ul class="mt-2">
                <h6 class="fw-semibold"> Suporte de Infraestrutura </h6>
                <li class="mt-2">Servidores: Linux, Windows</li>
                <li>Rational Lifecycle</li>
                <li>Gerenciamento de filas</li>
                <li>Resolução de vulnerabilidades de segurança</li>
            </ul>
        </div>
    </div>

</div>
<div id="english_content" style="display: none;">
    <h1 class="montserrat-font body-font px-3"> Technologies I have worked </h1>
    <div class="row">
        <div class="col body-font ">
            <ul class="mt-2">
                <h6 class="fw-semibold"> Web Development</h6>
                <li class="mt-2">Python</li>
                <li>Javascript</li>
                <li>Bootstrap</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>Flask</li>
                <li>SQLAlchemy</li>
                <li>PostgreSQL</li>
                <li>Insomnia</li>
                <li>Postman</li>
                <li>Selenium</li>
            </ul>
        </div>
        <div class="col body-font ">
            <ul class="mt-2">
                <h6 class="fw-semibold"> Execution tests </h6>
                <li class="mt-2">Tivoli Scheduler</li>
                <li>DB2</li>
                <li>SQL</li>
                <li>Linux</li>
                <li>VI/VIM</li>
                <li>Python</li>
            </ul>
        </div>
        <div class="col body-font ">
            <ul class="mt-2">
                <h6 class="fw-semibold"> Support of Infrastructure </h6>
                <li class="mt-2">Servers: Linux, Windows</li>
                <li>Rational Lifecycle</li>
                <li>Queue Management</li>
                <li>Security vulnerabilities resolution</li>
            </ul>
        </div>
    </div>
    
</div>


{% endblock %}
